/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 0 1em;
  text-align: center;
}

a {
  font-size: 0;
}

/* ============================
    Search Section
============================ */

.search {
  padding: 20px 0;
}


/* ============================
    Images List
============================ */

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 90%;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 8px;
}


/* ============================
    jQuery Stuff
============================ */

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 10%;
  
}

#overlay p {
  color: white;
  
}

/* ============================
    Media Queries
============================ */

@media (min-width: 760px) { /* Treehouse suggests 769px instead of 600px */
  
  .container {
    width: 70%;
    margin: 0 auto;
  }
  
}
  
@media (min-width: 1200px) {

  
    
}